.con{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;

}
#TEXT{
    margin-top: 10%;
    position: relative;
    color: white;
}
.things-learned{
    margin-top: 12%;
    width: 70%;
}
.info-picture{
    width: 100%;
    
}