.con{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;

}
#TEXT{
    margin-top: 10%;
    position: relative;
    
}
.things-learned{
    margin-top: 12%;
    width: 70%;
    font-size: 25px;
}
.info-picture{
    width: 100%;
    
}
#server-billede{
    width: 50%;
    height: 400px;
}
.ekstra-info{
    margin-top: 10%;
}
.ekstra-link{
    margin-top: 5%;
}
#radar-sensor-link-color{
    color: white;
    font-size: 30px;
    
}
@media only screen and (max-width: 735px) {
    #server-billede{
        width: 100%;
    }
    .things-learned{
        width: 100%;
        font-size: 12px;
    }
    #radar-sensor-link-color{
        font-size: 18px;
    }

}