.picture{
    position: relative;
    width: 40%;
    left: 10%;
}
.about{
    right: 5%;
    
}
.text {
    position: absolute;
    left: 50%;
    width: 50%;
    bottom: 10%; 
    color: white;
    font-size: 20px;
    max-height: calc(100% - 20px);
    
}

#person-billede{
    width: 75%;
    height: 75%;
    border-radius: 5%;
}
@media only screen and (max-width: 735px) {
    .text {
      position: relative;
      margin-top: 90%;
      left: 35%;
    }
    #person-billede{
        position: relative;
        left: 25%;
        width: 200%;
        height: 200%;
    }
  }
  @media only screen and (min-width: 2000px) {
    .text{
        font-size: 35px
    }
    


  }