.container{
    position: relative;
    width: 100%;
    
}

.links{
    position: relative;
    display: flex; 
    justify-content: center; 
}
.contact-text{
    position: relative;
    text-align: center;
    font-size: 30px;
    background-image: linear-gradient(to right, violet, blue);
    background-clip: text;
    color: transparent;
}
#linkedin-link{
    width: 40%;
}
#gmail-link{
    width: 50%;
}

@media only screen and (max-width: 735px) {
    .contact-text {
        font-size: 20px;
        left: 1%;
    }
    .linkedIn-inner{
     position: relative;
     right: 40%;
    }
    .Gmail-inner{
        position: relative;
        left: 10%;
    }
    .email{
        position: relative;
        right: 70%;
    }
    .links{
        position: relative;
        right: 12%;
    }
  }
  @media only screen and (min-width: 2000px) {
    .contact-text{
        font-size: 45px;
    }
}
