.container{
    position: relative;
    width: 100%;
    
}

.links{
    position: relative;
    display: flex; 
    justify-content: center; 
    
}
.contact-text{
    position: relative;
    text-align: center;
    font-size: 30px;
    background-image: linear-gradient(to right, violet, blue);
    background-clip: text;
    color: transparent;
}
#linkedin-image{
    width: 100%;
    height: 120px;
  }
#gmail-image{
    width: 90%;
    height: 100px;
}

@media only screen and (max-width: 735px) {
    .contact-text {
        font-size: 20px;
        left: 1%;
    }
    .links{
        position: relative;
        right: 10%;
    }
  }
 
  
  @media only screen and (min-width: 2000px) {
    .contact-text{
        font-size: 45px;
    }
}
