.container {
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
}

.routing {
    width: 100%;

}

ul {
    display: flex;
    flex-direction: row; 
    width: 100%;
    list-style-type: none;
}

li {
    width: 10%;
    text-align: center;
    transition: background-color 0.3s ease;
}


.sticky-nav {
    position: fixed;
    top: 0;
    left: 50%; 
    transform: translateX(-50%); 
    width: 55%;
    z-index: 1;
    height: 10%;
    font-size: 20px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.sticky-nav ul li {
    position: relative;
    right: 6%;
    display: flex;
    flex-direction: row; 
    justify-content: space-around; 
    width: 100%;
    list-style-type: none;
    padding: 0;
    margin: 0;
    flex: 1; 
    
    transition: background-color 0.3s ease;
    padding: 10px 15px; 
    width: 100%;
    text-align: center;
    transition: background-color 0.3s ease;
}

.sticky-nav ul li a {
    transition: color 0.3s ease, transform 0.3s ease;
    display: block;
    padding: 10px;
    text-decoration: none;
    color: white;
}

.sticky-nav ul li a:hover {
    background: linear-gradient(135deg, transparent 0%, transparent 50%, rgba(255,255,255,0.3) 50%);
    background-size: 200% 100%;
    background-position: -100%;
    transition: background-position 0.3s ease;
}

.sticky-nav .animation {
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.3s ease, left 0.3s ease;
    background: rgb(148,0,211);
    background: linear-gradient(to right, rgb(148,0,211), rgb(0,0,255));
}

.sticky-nav ul li:hover .animation {
    width: 100%;
    left: 0;
    background-color: transparent; 
}
.nav-toggle {
    display: none;
  }


@media (max-width: 1030px) {
    .container {
      font-size: 100%;
    }
  
    .routing {
      left: 0; 
    }
  
    .sticky-nav {
      position: fixed;
      top: 0;
      left: 0; 
      transform: none; 
      width: 100%; 
      height: auto;
      z-index: 999; 
    }
  
    ul {
      position: relative;
      flex-direction: column;
      right: 5%;
    }
  
    li {
      width: 100%;
    }
  
    .sticky-nav ul li {
      justify-content: center; 
      padding: 10px 0; 
    }
  
    .sticky-nav ul li a {
      padding: 10px; 
    }
    .sticky-nav .animation {
      display: none;
    }
    #nav-toggle-button{
      background: none;
      background-color: transparent;
      border: none;
      
    }
    .nav-toggle {
        position: relative;
        background: none;
        background: transparent;
        border: none;
        padding: 0;
        display: block;
        width: 50%;
        margin: 0 auto;
        height: 50px;
      }
      .sticky-nav ul {
        display: none;
      }
    
      .sticky-nav.open ul {
        display: block;
      }
      
  }
  @media only screen and (min-width: 2000px) {
    .sticky-nav {
      font-size: 35px;
      height: 10%;
    }
  }