.container{
    position: relative;
    width: 100%;
}
.caro{
    color: white;
    width: 90%;
    margin-top: 5%;
    
}
.project-header{
    color: white;
    font-size: 30px;
}
.card-style {
    margin-right: 30px;
    background-color: gray;
    padding: 10px;
    border-radius: 10px; 
    border: 2px solid transparent; 
    background-image: linear-gradient(to right,violet, blue);
    -webkit-background-clip: padding-box;
    background-clip: padding-box; 
    
}
