.container {
    overflow: hidden;
}

.logos {
    display: flex;
    animation: carousel 20s infinite linear;
}

.logo-slide {
    display: flex;
}

.logo-slide img {
    margin: 0 30px;
    height: 100px; 
    width: auto; 
    object-fit: cover; 
}


@keyframes carousel {
    0% {
        transform: translateX(calc(100% + 50px)); 
    }
    100% {
        transform: translateX(calc(-100% - 150px)); 
    }
}
.header {
    position: relative;
    right:9% ;
    background-image: linear-gradient(to right, violet, blue);
    background-clip: text;
    color: transparent;
    font-size: 30px;
    text-align: center;

}
