.container {
    overflow: hidden;
}

.logos {
    display: flex;
}

.logo-slide {
    display: flex;
}

.logo-slide img {
    margin: 0 30px;
    height: 100px; 
    width: auto; 
    object-fit: cover; 
}

#tech-name{
    position: relative;
    color: white;
    font-size: 20px;
}

.header {
    position: relative;
    background-image: linear-gradient(to right, violet, blue);
    background-clip: text;
    color: transparent;
    font-size: 30px;
    text-align: center;
}

@media only screen and (max-width: 735px) {
    .header{
        position: relative;
        left: 0.5%;
    }
}

@media only screen and (min-width: 2000px) {
    .header{
        font-size: 45px;
    }
    .logo-slide img {
        margin: 0 30px;
        height: 200px; 
        width: auto; 
        object-fit: cover; 
    }
    #tech-name{
        font-size: 45px;
    }
}
